<div class="bg-white h-full px-6 py-8">
  <div>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Customers notifications</h3>
          <p class="mt-1 text-sm text-gray-600">
            These notifications are automatically sent out to the customer. Click on the notification template to edit the content. See also the templates variables documentation.
          </p>
          <div class="mt-4">
            <%= link_to admin_facility_settings_email_settings_path(@facility), class: "btn btn-secondary font-bold" do %>
              Customize
            <% end %>
          </div>
        </div>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <% Facility::EmailTemplate::Template::TEMPLATES.each do |template| %>
                  <dl>

                    <%= link_to template[:name], edit_admin_facility_settings_facility_email_template_path(@facility, template[:code]), class: "btn btn-link text-teal-500 font-bold text-md" %>
                    <%= template[:description] %>
                  </dl>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
